################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeFiPulse.dotnet/.vs/DeFiPulse.dotnet/v16/.suo
